<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Días entre Fechas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="6" class="calendar-container">
        <ion-item>
          <ion-label position="floating">Fecha de Inicio</ion-label>
          <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="startDate"></ion-datetime>
        </ion-item>
      </ion-col>

      <ion-col size="6" class="calendar-container">
        <ion-item>
          <ion-label position="floating">Fecha de Fin</ion-label>
          <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="endDate"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button expand="full" color="success" (click)="calculateDays()">Calcular Días</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Días Entre</ion-label>
          <ion-input [(ngModel)]="daysDifference" readonly></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button expand="full" color="danger" (click)="clear()">Limpiar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>