<ion-header>
  <ion-toolbar>
    <ion-title>Mis Proyectos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card id="perfil">
    <ion-item>
      <ion-thumbnail slot="start" class="custom-thumbnail" >
        <img src="assets/freddycv.JPEG" alt="Foto de Freddy">
      </ion-thumbnail>
    </ion-item>
  </ion-card>

<ion-button 
  expand="full" 
  color="primary" 
  shape="round" 
  (click)="irAGithub()">
  <ion-icon slot="start" name="logo-github"></ion-icon>
  Ir a GitHub
</ion-button>
