<ion-header>
  <ion-toolbar>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card id="perfil">
    <div class="thumbnail-container">
      <ion-thumbnail class="custom-thumbnail">
        <img src="assets/gitProfile.JPEG" alt="Foto de Freddy">
      </ion-thumbnail>
    </div>
    
    <div class="button-container">
      <ion-button 
        expand="full" 
        color="success" 
        shape="round" 
        (click)="irAGithub()" 
        class="hover-button">
        <ion-icon slot="start" name="logo-github"></ion-icon>
        Ir a GitHub
      </ion-button>
    </div>
  </ion-card>
</ion-content>
